.bar-chart {
    background: steelblue;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    text-align: center;
}
.legend {
    font-size: 10px;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    color: white;
    width: 50px;
}

.legends {
    margin-top: 10px;
}

button {
    border-radius: 15px;
    cursor: pointer;
}